{% extends "layout.html" %}
{% block content %}


<section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">Como funciona</h2>
                        <p class="text-white-50">
                            Asistente Agrícola es un software que le brinda recomendaciones de actividades agrícolas diarias para mantener sus cultivos de flores en óptimo estado.
                        </p>
                    </div>
                </div>
            </div>
     <div class="container px-4 px-lg-5">

                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="static/assets/img/1.PNG" width="400" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Ingreso de datos</h4>
                                    <p class="mb-0 text-white-50">1-Seleccione la fecha puede ser la fecha actual o una anterior</p>
                                    <p class="mb-0 text-white-50">2-Ingrese la cantidad de botones</p>
                                    <p class="mb-0 text-white-50">Nota: Si deja un campo vacio se lo detectara como null</p>
                                    <p class="mb-0 text-white-50">3-Ingrese los datos de botones en cm</p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="static/assets/img/4.PNG" width="200" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Ingreso de mediciones</h4>
                                    <p class="mb-0 text-white-50">1- Ingrese la medicion de Ph, Densidad y Conductividad electrica</p>
                                    <p class="mb-0 text-white-50">2- Ingrese los datos que se le piden</p>
                                    <p class="mb-0 text-white-50">3- De clic en el boton y espere a que se redireccione a la siguiente página</p>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="static/assets/img/5.PNG" width="400" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Recomendación</h4>
                                    <p class="mb-0 text-white-50">Aqui puede estar o no de acuerdo con la recomendación dada por el sistema, si esta de acuerdo de
                                    clic en boton si, caso contrario se desplegara una lista de opcion en la cual usted debere escoger cual seria la mejor recomendacion</p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="static/assets/img/6.PNG" width="500" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Buscar Recomendaciones</h4>
                                    <p class="mb-0 text-white-50">Ingresamos la fecha en la cual queremos realizar la recomendación hecha ese dia y dando clic en el boton se descargara un pdf que tendra las recomendaciones de ese dia</p>

                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            </div>
        </section>

{% endblock content %}
{% block footer %}
<script type=text/javascript>

</script>
{% endblock footer %}