{% extends "layout.html" %}
{% block content %}
    <h1 class="mt-4" align="center">Historial de Recomendaciones</h1>
    <p align="center">Buscar por fecha</p>
    <form align="center" method="GET" action="">
    <div class="row">
        <div class="col">
            <label for="desde">Desde:</label>
            <input type="date" id="desde" name="desde" required="true">
        </div>
        <div class="col">
            <label for="hasta">Hasta:</label>
            <input type="date" id="hasta" name="hasta" required="true">
        </div>
        <div class="col">
            <button class="btn btn-success" type="submit">Buscar</button>
        </div>
    </div>
    </form>
    <div class="row">
        <h3 class="mt-4" align="center">Resultados</h3>
    </div>
    <div class="row">
        <div class="col">
        <table class="table table-success table-striped">
            <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Recomendación</th>
                <th scope="col">De acuerdo</th>
                <th scope="col">Sugerencia</th>
              <th scope="col">Fecha</th>
            </tr>
              </thead>
              <tbody>
              {% for r in recs %}
                <tr>
                    <td>{{ r.id }}</td>
                    <td>{{ r.descrip }}</td>
                    <td>{{ r.de_acuerdo }}</td>
                    <td>{{ r.otra_sugerencia }}</td>
                    <td>{{ r.medicion.fecha }}</td>
                </tr>
              {% endfor %}
              </tbody>
        </table>
    </div>
    </div>
<a class="btn btn-success" href="/imprimir" role="button">Imprimir</a>

{% endblock content %}
{% block footer %}
<script type=text/javascript>
  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/imprimir', {
        recs: recs
      }, function(data) {
      });
      return false;
    });
  });
</script>
{% endblock footer %}