{% extends "layout.html" %}
{% block content %}
<h2 class="mt-4" align="center">Ingreso de Datos</h2>
            <form align="center" method="POST" action="{{url_for('ingresar_datos')}}">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <label for="fechamed" class="form-label">Fecha de Medicion</label>
                            <input id="fechamed" name="fechamed" type="text" value="{{ fecha }}" readonly class="form-control-plaintext" style="text-align:center;"/>
                        </div>
                    </div>
                    <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col">
                            <p align="center">Sustrato Líquido</p>
                            <label for="ce" class="form-label">Conductividad Eléctrica</label>
                            <input id="ce" name="ce" type="number" step='0.01' class="form-control" required/>
                            <label for="ph" class="form-label">pH</label>
                            <input id="ph" name="ph" type="number" step='0.01' class="form-control" required/>
                            <label for="densidad" class="form-label">Densidad</label>
                            <input id="densidad" name="densidad" type="number" step='0.01' class="form-control" required/>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col">
                            <p align="center">Compost</p>
                            <label for="cec" class="form-label">Conductividad Eléctrica</label>
                            <input id="cec" name="cec" type="number" step='0.01' class="form-control"/>
                            <label for="phc" class="form-label">pH</label>
                            <input id="phc" name="phc" type="number" step='0.01' class="form-control"/>
                            <label for="dec" class="form-label">Densidad</label>
                            <input id="dec" name="dec" type="number" step='0.01' class="form-control"/>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                <div class="container pt-4">
                <div class="row">
                    <p align="center">Tanque</p>
                    <div class="col-sm-6">
                    <label for="cet" class="form-label">Conductividad Eléctrica</label>
                    <input id="cet" name="cet" type="number" step='0.01' class="form-control"/>
                    </div>
                    <div class="col-sm-6">
                    <label for="pht" class="form-label">pH</label>
                    <input id="pht" name="pht" type="number" step='0.01' class="form-control"/>
                    </div>
                </div>
                </div>
                <div class="container pt-4">
                <div class="row">
                    <p align="center">Goteo</p>
                    <div class="col-sm-6">
                    <label for="ceg" class="form-label">Conductividad Eléctrica</label>
                    <input id="ceg" name="ceg" type="number" step='0.01' class="form-control"/>
                    </div>
                    <div class="col-sm-6">
                    <label for="phg" class="form-label">pH</label>
                    <input id="phg" name="phg" type="number" step='0.01' class="form-control"/>
                    </div>
                </div>
                </div>
                <div class="container pt-4">
                <div class="row">
                    <p align="center">Programación</p>
                    <div class="col-sm-6">
                    <label for="cep" class="form-label">Conductividad Eléctrica</label>
                    <input id="cep" name="cep" type="number" step='0.01' class="form-control"/>
                    </div>
                    <div class="col-sm-6">
                    <label for="php" class="form-label">pH</label>
                    <input id="php" name="php" type="number" step='0.01' class="form-control"/>
                    </div>
                </div>
                </div>
                <div class="container pt-4">
                <div class="row">
                    <div class="col">
                      <button class="btn btn-success" type="submit">Guardar</button>
                    </div>
                    <div class="col">
                        <a class="btn btn-danger btn-delete" href="/home" role="button">Cancelar</a>
                    </div>
                </div>
                </div>
            </form>
{% endblock content %}