{% extends "layout.html" %}
{% block content %}

        <!-- Page content-->
        <div class="container-fluid">
            <h1 class="mt-4" align="center">Recomendación</h1>
            <p align="center">Asistente Agrícola le recomienda hoy:</p>
            <div class="container-fluid">
            <form align="center" method="POST" action="{{ url_for('guardar_recomendacion') }}">
                {{ form.hidden_tag() }}
                <div align="center" class="form-group">
                    {{ form.descrip.label(class="form-control-label") }}
                    {% if form.descrip.errors %}
                    {{ form.descrip(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.descrip.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}

                    <div align="center" class="col-sm-3">
                        {{ form.descrip(class="form-control form-control-md") }}
                    </div>
                     {% endif %}
                </div><br>
                <div align="center" class="form-group">
                    {{ form.de_acuerdo.label(class="form-control-label") }}
                    {% if form.de_acuerdo.errors %}
                    {{ form.de_acuerdo(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.de_acuerdo.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}

                    <div align="center" class="col-sm-3">
                        {{ form.de_acuerdo(class="form-control form-control-md") }}
                    </div>
                     {% endif %}
                </div><br>
                <div align="center" class="form-group">
                    {{ form.otra_sugerencia.label(class="form-control-label") }}
                    {% if form.otra_sugerencia.errors %}
                    {{ form.otra_sugerencia(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.otra_sugerencia.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}

                    <div align="center" class="col-sm-3">
                        {{ form.otra_sugerencia(class="form-control form-control-md") }}
                    </div>
                     {% endif %}
                </div><br>

                <center>{{ form.guardar(class="btn btn-primary") }}</center>
            </form>

        </div>
    </div>
</div>
</div>


{% endblock content %}
{% block footer %}
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="static/js/scripts2.js"></script>
<script type="text/javascript">
$(document).ready(function() {
$("#otra_sugerencia").hide();
$('label[for="otra_sugerencia"]').hide();
$("input[id$='de_acuerdo-1']").click(function() {
  $("#otra_sugerencia").show();
  $('label[for="otra_sugerencia"]').show();
});
$("input[id$='de_acuerdo-0']").click(function() {
  $("#otra_sugerencia").hide();
  $('label[for="otra_sugerencia"]').hide();
  $('#otra_sugerencia').val('');
});
});
</script>
{% endblock footer %}